*.iml
.gradle
/souce/local.properties
/souce/.idea/caches
/souce/.idea/libraries
/souce/.idea/modules.xml
/souce/.idea/workspace.xml
/souce/.idea/navEditor.xml
/souce/.idea/assetWizardSettings.xml
.DS_Store
/souce/build
/souce/captures
.externalNativeBuild
.cxx
local.properties
