*.iml
.gradle
/source/local.properties
/source/.idea/caches
/source/.idea/libraries
/source/.idea/modules.xml
/source/.idea/workspace.xml
/source/.idea/navEditor.xml
/source/.idea/assetWizardSettings.xml
.DS_Store
/source/build
/source/captures
.externalNativeBuild
.cxx
local.properties
